<footer class="footer" style="margin-top: 100px">
  <p class="text-center">Copyright &copy;2017 Movie Time
    <br>
    Design by
    <a href="http://imtinge-blog.logdown.com" target_="new">imtinge</a>
  </p>
</footer>
